table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}


/* Anchor tag styling  */
a:link {
  color: #ff3e00;
}

a:hover {
  color: #ffee00;
}

a:active {
  color: #d900ff;
}

a:visited {
  color: #51ff00;
}